contexttimer
decord
diffusers==0.14.0
einops
fairscale
ftfy
iopath
ipython
omegaconf
opencv-python-headless
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm
torch
torchvision
tqdm
transformers==4.31.0
webdataset
wheel
torchaudio
soundfile
moviepy
nltk
peft

easydict
pyyaml_env_tag
open3d
h5py
